/* src/App.css */
.App {
  text-align: center;
  padding-top: 50px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px;
  margin-left: 5px;
}



body {
  background-image: url('./../public/bg.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative; /* Ensure the body is positioned relative for absolute positioning */
  background-color: rgba(255, 255, 255, 0.5); /* Half-transparent white background */
}